<div class="ml-4"><%= render "layouts/errors", object: plan %></div>
<%= form_with model: plan, url: plans_path do |f| %>

  <div class="row">
    <div class="col">
      <h5>プラン概要</h5>
      <div style="color: red;">*</div>
      <%= f.text_field :title, class:"form-control", placeholder: "例) ＊＊県旅行！", id: "plan_title" %>
      <div id="planTitleError", class="mt-1", style="display: none; color: red;"></div>
      <%= f.text_area :body, class:"form-control my-3", placeholder: "例)御朱印巡りをしました！" %>
    </div>
  </div>

  <h5 class="mt-3">スケジュール</h5>
  <%= f.fields_for :plan_details do |pd| %>
  <div class="row">
    <div class="col">
      <div style="color: red;">*</div>
      <%= pd.text_field :title, class: "form-control plan_detail_title", placeholder: "例) ＊＊駅(集合場所や施設名)" %>
      <div id="planDetailTitleError", class="mt-1", style="display: none; color: red;"></div>
      <%= pd.text_area :body, class: "form-control my-3", placeholder: "例) 10:00集合 徒歩3分移動" %>
      <%= pd.text_field :address, class: "form-control my-3 js-address-autocomplete", placeholder: "住所または施設名" %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col text-center">
      <div id="plan_details_wrapper"></div>
      <%= link_to '+', '#', id: 'add_plan_details', class: "btn btn-outline-dark rounded-circle mt-3 ml-auto shadow" %>
    </div>
  </div>

  <h5>画像</h5>
  <div>
    <label for="plan_plan_image" class="custom-file-upload">
      <i class="fas fa-cloud-upload-alt"></i> 画像を選択
    </label>
    <%= f.file_field :plan_image, accept: "image/*", class: 'file-input', id: 'plan_plan_image' %>
  </div>
  <div id="image-preview" class="mt-4">
    <% if @plan.plan_image.attached? %>
      <%= image_tag @plan.plan_image, class: 'preview-img', id: 'current-image' %>
    <% end %>
  </div>

  <h5 class="mt-4">タグ</h5>
  <%= f.text_field :tags, value: plan.tags.map(&:name).join(", "), class: "form-control", placeholder: ",で区切ると複数タグ登録可能", list: "tag-list" %>
  <datalist id="tag-list">
    <% Tag.all.each do |tag| %>
      <option value="<%= tag.name %>">
    <% end %>
  </datalist>

  <div class="row">
    <div class="col text-center my-3">
      <button type="submit" disabled class="btn btn-primary mx-auto px-4 disabled" id="plan_submit">
        <i class="fas fa-paper-plane fa-lg" style="color: #ffffff;"></i>
      </button>
      <%= f.submit '下書き保存', class: 'btn btn-warning mx-auto px-4' %>
    </div>
  </div>
<% end %>