<div class="ml-4"><%= render "layouts/errors", object: plan %></div>
<%= form_with model: plan, url: plans_path do |f| %>

  <div class="row">
    <div class="col">
      <h5>プラン概要</h5>
      <%= f.text_field :title, class:"form-control mb-3", placeholder: "例) ＊＊県旅行！" %>
      <%= f.text_area :body, class:"form-control my-3", placeholder: "例)御朱印巡りをしました！" %>
    </div>
  </div>

  <h5 class="mt-3">スケジュール</h5>
  <%= f.fields_for :plan_details do |pd| %>
  <div class="row">
    <div class="col">
      <%= pd.text_field :title, class: "form-control mb-3", placeholder: "例) ＊＊駅(集合場所や施設名)" %>
      <%= pd.text_area :body, class: "form-control my-3", placeholder: "例) 10:00集合 徒歩3分移動" %>
      <%= pd.text_field :address, class: "form-control mb-3", placeholder: "住所" %>
      <%#= pd.text_field :address, id: "address-autocomplete", class: "form-control mb-3", placeholder:"スポット名または住所を入力してね" %>
      <%#= pd.hidden_field :address, id: "address-input" %>

    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col text-center">
      <div id="plan_details_wrapper"></div>
      <%= link_to '+', '#', id: 'add_plan_details', class: "btn btn-outline-dark rounded-circle mt-3 ml-auto shadow" %>
    </div>
  </div>

  <h5>画像</h5>
  <div>
    <label for="plan_plan_image" class="custom-file-upload">
      <i class="fas fa-cloud-upload-alt"></i> 画像を選択
    </label>
    <%= f.file_field :plan_image, accept: "image/*", class: 'file-input', id: 'plan_plan_image' %>
  </div>
  <div id="image-preview" class="mt-4">
    <% if @plan.plan_image.attached? %>
      <%= image_tag @plan.plan_image, class: 'preview-img', id: 'current-image' %>
    <% end %>
  </div>

  <h5 class="mt-4">タグ</h5>
  <%= f.text_field :tags, value: plan.tags.map(&:name).join(", "), class: "form-control", placeholder: ",で区切ると複数タグ登録可能", list: "tag-list" %>
  <datalist id="tag-list">
    <% Tag.all.each do |tag| %>
      <option value="<%= tag.name %>">
    <% end %>
  </datalist>

  <div class="row">
    <div class="col text-center my-3">
      <button type="submit" class="btn btn-primary mx-auto px-4">
        <i class="fas fa-paper-plane fa-lg" style="color: #ffffff;"></i>
      </button>
      <%= f.submit '下書き保存', class: 'btn btn-warning mx-auto px-4' %>
    </div>
  </div>
<% end %>

<script>
  // function initAutocomplete() {
  //   const input = document.getElementById("address-autocomplete");
  //   const options = {
  //     fields: ["address_components", "name", "formatted_address"]  // 住所、スポット名、フォーマット済み住所を取得
  //   };
  //   const autocomplete = new google.maps.places.Autocomplete(input, options);

  //   autocomplete.addListener("place_changed", function() {
  //     const place = autocomplete.getPlace();
  //     if (!place.formatted_address || !place.name) {
  //       return; // 住所や名前がない場合は処理しない
  //     }
  //     // フォーマット済みの住所または名前を取得してフォームにセット
  //     const address = place.formatted_address || place.name;
  //     document.getElementById("address-input").value = address;
  //   });
  // }

  // // Google MapsのAPIが読み込まれるのを待ってからinitAutocompleteを呼び出す
  // window.initAutocomplete = initAutocomplete;
</script>

<!--<script async defer-->
<!--  src="https://maps.googleapis.com/maps/api/js?key=Place_API_Key&libraries=places&callback=initAutocomplete">-->
<!--</script>-->