<div class="container mx-auto">
  <div class="row p-3">
    <div class="col-sm-12 col-md-10 col-lg-8 bg-white my-3 p-4 shadow-lg mx-auto rounded">
      <%= render "layouts/errors", object: @plan %>
      <%= form_with model: @plan, url: plan_path(@plan), method: :patch do |f| %>

        <div class="row">
          <div class="col">
            <h5>プラン概要</h5>
            <%= f.text_field :title, class: "form-control my-3", data: { plan_id: @plan.id }, placeholder: "プランタイトル" %>
            <%= f.text_area :body, class: "form-control my-3", placeholder: "プラン説明" %>
          </div>
        </div>

        <h5 class="mt-3">スケジュール</h5>
        <%= f.fields_for :plan_details do |pd| %>
          <div class="row nested-fields">
            <div class="col-10">
              <%= pd.text_field :title, class: "form-control mb-3", data: { plan_detail_id: pd.object.id }, placeholder: "詳細タイトル" %>
            </div>
            <div class="col-2 d-flex align-items-center">
              <%= link_to "#", class: "remove_field btn btn-danger mb-3" do %>
                <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
              <% end %>
            </div>
            <div class="col-12">
              <%= pd.text_area :body, class: "form-control mb-3", placeholder: "詳細説明" %>
              <%= pd.text_field :address, class: "form-control mb-3 pac-input", placeholder: "住所" %>
            </div>
            <%= pd.hidden_field :_destroy, class: 'destroy-field' %>
          </div>
        <% end %>

        <div class="row">
          <div class="col text-center">
            <div id="plan_details_wrapper"></div>
            <%= link_to '+', '#', id: 'add_plan_details', class: "btn btn-outline-dark rounded-circle ml-auto shadow" %>
          </div>
        </div>

        <h5>画像</h5>
        <div>
          <label for="plan_plan_image" class="custom-file-upload">
            <i class="fas fa-cloud-upload-alt"></i> 画像を選択
          </label>
          <%= f.file_field :plan_image, accept: "image/*", class: 'file-input', id: 'plan_plan_image' %>
        </div>
        <div id="image-preview" class="mt-4">
          <% if @plan.plan_image.attached? %>
            <%= image_tag @plan.plan_image, class: 'preview-img', id: 'current-image' %>
          <% end %>
        </div>

        <h5>タグ</h5>
        <%= f.text_field :tags, value: @plan.tags.map(&:name).join(", "), class: "form-control", placeholder: ",で区切ると複数タグ登録できます" %>

        <div class="row">
          <div class="col text-center my-3">
          <button type="submit" class="btn btn-primary mx-auto px-4">
            <i class="fas fa-paper-plane fa-lg" style="color: #ffffff;"></i>
          </button>
            <%= f.submit '下書き保存', class: 'btn btn-warning mx-auto px-4' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>