<h1>投稿編集</h1>

<%= form_with model:@plan, url: plan_path, method: :patch do |f| %>

  <%= f.label :プラン名 %>
  <%= f.text_field :title %>

  <%= f.label :本文 %>
  <%= f.text_field :body %>

  <%= f.fields_for :plan_details do |f| %>
    <%= f.label :タイトル %>
    <%= f.text_field :title %>

    <%= f.label :本文 %>
    <%= f.text_field :body %>
  <% end %>

  <%= f.submit "編集を保存" %>

<% end %>