<div class="container mx-auto">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 bg-white my-3 p-4 shadow-lg mx-auto rounded">
      <%= render "layouts/errors", object: @plan %>
      <%= form_with model: @plan, url: plan_path(@plan), method: :patch do |f| %>
        <h4>プラン概要</h4>
        <div class="row">
          <div class="col">
            <%= f.text_field :title, class: "form-control my-3", data: { plan_id: @plan.id }, placeholder: "プランタイトル" %>
            <%= f.text_area :body, class: "form-control my-3", placeholder: "プラン説明" %>
          </div>
        </div>

        <h4>スケジュール</h4>
        <%= f.fields_for :plan_details do |pd| %>
          <div class="row nested-fields">
            <div class="col-10">
              <%= pd.text_field :title, class: "form-control my-3", data: { plan_detail_id: pd.object.id }, placeholder: "詳細タイトル" %>
            </div>
            <div class="col-2 d-flex align-items-center">
              <%= link_to "#", class: "remove_field btn btn-danger my-3" do %>
                <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
              <% end %>
            </div>
            <div class="col-12">
              <%= pd.text_area :body, class: "form-control my-3", placeholder: "詳細説明" %>
              <%= pd.text_field :address, class: "form-control mb-3", placeholder: "住所" %>
            </div>
            <%= pd.hidden_field :_destroy, class: 'destroy-field' %>
          </div>
        <% end %>

        <div class="row">
          <div class="col text-center">
            <div id="plan_details_wrapper"></div>
            <%= link_to '+', '#', id: 'add_plan_details', class: "btn btn-outline-dark rounded-circle ml-auto shadow" %>
          </div>
        </div>

        <h4>タグ</h4>
        <%= f.text_field :tags, value: @plan.tags.map(&:name).join(", "), class: "form-control", placeholder: ",で区切ると複数タグ登録できます" %>

        <div class="row">
          <div class="col text-center my-3">
            <%= f.submit "投稿する", class: "btn btn-primary mx-auto" %>
            <%= f.submit '下書き保存', class: 'btn btn-warning mx-auto px-4' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>