<!--タブメニュー-->
<div class="wrap">
  <ul id="tab-menu">
    <li><a href="#tab1" class="active">すべて</a></li>
    <li><a href="#tab2" class="">フォロー中</a></li>
    <li><a href="#tab3" class="">Map</a></li>
  </ul>

  <div id="tab-contents">

    <div id="tab1" class="tab">
      <!--プラン一覧を表示-->
      <%= render 'layouts/search', object: search_path %>
      <%= render 'index', plans: @plans, tags: @tags %>
    </div>

    <div id="tab2" class="tab">
      <!--フォローユーザープラン一覧を表示-->
      <%= render 'layouts/search', object: search_path %>
      <%= render 'index', plans: @followed_plans, tags: @tags %>
    </div>

    <div id="tab3" class="tab">
      <!--Mapを表示-->
      <%= render 'map_index', plan_details: @plan_details %>
    </div>

  </div>
</div>