<div class="container">

    <div class="col-sm-12 col-md-10 col-lg-8 bg-white my-3 p-4 shadow-lg mx-auto rounded">
      <div class="row">
        <div class="col-4">
          <%= link_to user_path(@plan.user) do %>
            <%= image_tag @plan.user.get_profile_image(90, 90), class: "rounded-circle mx-auto d-block" %>
            <div class="text-center mb-1"><%= @plan.user.name %></div>
          <% end %>
        </div>
        <div class="col fsize_13-18 my-auto">
          <h5><%= @plan.title %></h5>
          <%=safe_join(@plan.body.split("\n"),tag(:br)) %>
        </div>
      </div>

      <% @plan_details.each do |pd| %>
        <div class="col fsize_13-18 p-3 my-2" style="background-color: #CDD3E8;"><%= pd.title %></div>
        <% if pd.body.present? %>
          <div class="col fsize_13-18 p-3 my-2" style="background-color: #CDD3E8;"><%= pd.body %></div>
        <% end %>
        <% if pd.address.present? %>
          <div class="col fsize_13-18 p-3 my-2" style="background-color: #CDD3E8;"><%= pd.address %></div>
        <% end %>
      <% end %>

      <% if @plan.plan_image.attached? %>
        <%= image_tag @plan.plan_image, class: "img-fluid my-1 rounded" %>
      <% end %>

      <div class="row">
        <% @plan_tags.each do |tag| %>
          <div class="col text-center">
            <i class="fa-sharp fa-solid fa-tag"></i>
            <% if user_signed_in? %>
              <%= link_to tag.name, search_tag_path(tag_id: tag.id) %>
            <% else %>
              <%=  tag.name %>
            <% end %>
          </div>
        <% end %>
      </div>

        <div class="row">
          <!--コメントカウント非同期化テンプレート-->
          <div class="col text-center comment_counter"><%= render 'public/comments/counter', plan: @plan %></div>
          <!--いいね非同期化テンプレート-->
          <div class="col text-center like_buttons_<%= @plan.id %>"><%= render 'public/likes/like', plan: @plan %></div>

          <div class="col text-center"><%= @plan.view_counts.count %>Views</div>
        </div>

      <% if @plan.user == current_user %>
      <div class="row mt-3">
        <div class="col text-center">
          <%= link_to edit_plan_path(@plan), class: "btn btn-warning mx-2" do %>
            <i class="fa-solid fa-pen-to-square fa-lg px-3 mx-2"></i>
          <% end %>
          <%= link_to plan_path(@plan), method: :delete, class: "btn btn-danger mx-2", data: { confirm: "投稿を削除しますか？" } do %>
            <i class="fa-solid fa-trash fa-lg px-2 mx-2" style="color: #ffffff;"></i>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <% if @plan_details.any? { |pd| pd.address.present? } %>
    <div id="map" class="col-sm-12 col-md-10 col-lg-8 mx-auto" style="height: 300px;"></div>
    <% end %>

      <!-- コメント一覧非同期化テンプレート -->
      <div class="row comment-index mx-auto">
        <%= render 'public/comments/index', plan: @plan %>
      </div>

      <!-- コメント送信非同期化テンプレート -->
      <% if user_signed_in? %>
        <div class="row mx-auto">
          <%= render 'public/comments/form', { plan: @plan, comment: @comment } %>
        </div>
      <% end %>

</div>

<script>
  function initMap(){
    // 地図の位置情報(緯度・経度)を取得
    <% map = true %>
    <% @plan_details.each do |pd| %>
      <% next if pd.address.blank? %>
    let mapPosition<%= pd.id %> = {lat: <%= pd.latitude %> , lng: <%= pd.longitude %> };

    <% if map %>
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: mapPosition<%= pd.id %>
    });
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    <% map = false %>
    <% end %>

    let contentString<%= pd.id %> = '【住所】<%= pd.address %>';
    let infowindow<%= pd.id %> = new google.maps.InfoWindow({
      content: contentString<%= pd.id %>
    });

    let marker<%= pd.id %> = new google.maps.Marker({
      position: mapPosition<%= pd.id %>,
      map: map,
      title: contentString<%= pd.id %>
    });

    marker<%= pd.id %>.addListener('click', function(){
      infowindow<%= pd.id %>.open(map, marker<%= pd.id %>);
    });

    <% end %>
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Maps_API_Key'] %>&callback=initMap" async defer></script>