<div class="container mx-auto">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 bg-white my-3 p-4 shadow-lg mx-auto rounded">
      <div class="row">
        <div class="col-4">
          <%= image_tag @plan.user.get_profile_image(90, 90), class: "rounded-circle mx-auto d-block" %>
          <div class="text-center mb-1"><%= link_to @plan.user.name, user_path(@plan.user) %></div>
        </div>
        <div class="col my-auto">
          <h5><%= @plan.title %></h5>
          <%=safe_join(@plan.body.split("\n"),tag(:br)) %>
        </div>
      </div>

      <% @plan_details.each do |plan_detail| %>
      <div class="row my-3">
        <div class="col p-3" style="background-color: #CDD3E8;"><%= plan_detail.title %></div>
        <div class="col p-3" style="background-color: #CDD3E8;"><%= plan_detail.body %></div>
      </div>
      <% end %>

      <div class="row">
        <div class="col-6 text-center"><%= @plan.comments.count %>コメント</div>
        <div class="col-6 text-center" id="like_buttons_<%= @plan.id %>"><%= render 'public/likes/like', plan: @plan %></div>
      </div>

      <% if @plan.user == current_user %>
      <div class="row mt-3">
        <div class="col text-center">
          <%= link_to "編集", edit_plan_path(@plan), class: "btn btn-warning mx-2" %>
          <%= link_to "削除", plan_path(@plan), method: :delete, class: "btn btn-danger mx-2", data: { confirm: "投稿を削除しますか？" } %>
        </div>
      </div>
      <% end %>
    </div>

    <!-- コメント一覧 -->
    <% @plan.comments.each do |comment| %>
    <div class="col-sm-8 col-md-10 col-lg-8 bg-white my-3 p-4 shadow-lg mx-auto rounded">
      <div class="row">
        <div class="col-3 text-center">
          <%= image_tag comment.user.get_profile_image(60, 60), class: "rounded-circle mx-auto d-block" %>
          <%= comment.user.name %><br>
          <%= comment.created_at.strftime('%Y/%m/%d') %>
        </div>
        <div class="col text-center my-auto"><%=safe_join(comment.comment.split("\n"),tag(:br)) %></div>
        <% if comment.user == current_user %>
        <div class="col text-right my-auto">
          <%= link_to "削除", plan_comment_path(comment.plan, comment), method: :delete, class: "btn btn-danger", data: { confirm: "コメントを削除しますか？" } %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>

    <!-- コメント送信画面 -->
    <div class="col-sm-12 col-md-10 col-lg-8 bg-white my-3 p-4 shadow-lg mx-auto rounded">
      <%= form_with model: [@plan, @comment] do |f| %>
        <%= f.text_area :comment, rows: '3', class: "form-control", placeholder: "コメントを返信" %>
        <div class="text-center mt-2"><%= f.submit "送信", class: "btn btn-warning" %></div>
      <% end %>
    </div>
  </div>
</div>