<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 my-3 p-4 mx-auto">

      <!-- ユーザー情報の表示 -->
      <div class="row">
        <% @users.each do |user| %>
          <div class="col text-center mb-3">
            <%= link_to user_path(user), class: "text-decoration-none" do %>
              <%= image_tag user.get_profile_image(90, 90), class: "rounded-circle mx-auto d-block" %>
              <%= user.name %>
            <% end %>
          </div>
        <% end %>
      </div>

      <!-- チャットメッセージの表示 -->
      <div class="chat-index">
        <div class="row justify-content-center">
          <% @chats.each do |chat| %>
            <% user_index = @users.index(chat.user) %>
            <% if user_index == 0 %>
              <div class="col-10 text-left mb-3">
                <div class="other-user-says px-3">
                  <p><%= safe_join(chat.message.split("\n"), tag(:br)) %></p>
                </div>
                <span class="text-muted"><%= chat.created_at.strftime('%Y/%m/%d %H:%M') %></span>
              </div>
            <% elsif user_index == 1 %>
              <div class="col-10 text-right mb-3">
                <div class="says px-3">
                  <p><%= safe_join(chat.message.split("\n"), tag(:br)) %></p>
                </div>
                <span class="text-muted"><%= chat.created_at.strftime('%Y/%m/%d %H:%M') %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>