<div class="container">
  <div class="mx-auto">
    <div class="row">
      <div class="col">

        <div class="map">
          <input id="address" type="textbox" value="">
          <input type="button" value="地図を検索" onclick="codeAddress()">
          <div id="display">緯度経度が表示されるよ！</div>
        </div>
        <h3>場所投稿フォーム</h3>
        <%= form_for(@map, url: { controller: 'maps', action: 'create' }) do |f| %>
            <p>
                <%= f.label :address %>
                <%= f.text_field :address, size: "50x1" %>
            </p>
            <%= f.submit "送信" %>
        <% end %>

        <div id="map" style="width: 100%; height: calc(100vh - 88px - 179px);"></div>

        <h3>場所一覧</h3>
        <% @maps.each do |t| %>
            <p>住所 : <%= t.address %></p>
            <p>緯度 : <%= t.latitude %></p>
            <p>経度 : <%= t.longitude %></p>
            <p><%= link_to "削除する", map_path(t.id), method: :delete %></p>
            <hr>
        <% end %>

      </div>
    </div>
  </div>
</div>

<script>
  let map;
  const display = document.getElementById('display');

  function initMap() {
    geocoder = new google.maps.Geocoder();

    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 35.6458437, lng: 139.7046171 },
      zoom: 12,
    });

    <% @maps.each do |m| %>
      (function() {
        var contentString = "住所：<%= m.address %>";

        var marker = new google.maps.Marker({
            position: { lat: <%= m.latitude %>, lng: <%= m.longitude %> },
            map: map,
            title: contentString
        });

        var infowindow = new google.maps.InfoWindow({
            position: { lat: <%= m.latitude %>, lng: <%= m.longitude %> },
            content: "<a href='<%= map_url(m.id) %>' target='_blank'><%= m.address %></a>"
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
      })();
    <% end %>
  }

  let geocoder;

  function codeAddress() {
      let inputAddress = document.getElementById('address').value;

      geocoder.geocode({ 'address': inputAddress }, function(results, status) {
          if (status == 'OK') {
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });

              display.textContent = "検索結果：" + results[0].geometry.location;
          } else {
              alert('該当する結果がありませんでした：' + status);
          }
      });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Maps_API_Key'] %>&callback=initMap" async defer></script>