<div class="container mx-auto">
  <div class="row">

    <div class="col-sm-12 col-md-10 col-lg-8 bg-white my-3 p-5 shadow-lg mx-auto rounded">
      <%#= image_tag asset_path('go_out_planning_logo.png', :width =>'250', :height =>'250', :alt => '画像'), class: "logo rounded-circle mx-auto mb-3 d-block" %>
      <%= image_tag asset_path('go_out_planning_logo.png', :alt => '画像'), class: "logo rounded-circle mx-auto mb-3 d-block" %>
      <%# = image_tag "go_out_planning_logo.jpg", size: "250x250", class: "rounded-circle mx-auto mb-3 d-block" %>

      <p class="text-center mb-4" style="color: #3B4674"><b>旅行やデートのプランを共有するSNS</b></p>
      <p class="text-center pb-5" style="color: #3B4674">おでかけプランニングは、旅行やデートのお店や施設ではなく、</br>プランを共有するSNSサービスです</p>

      <%= link_to plans_path do %>
        <%= image_tag "search.png" ,size: "190x190", class: "mx-auto img-fluid d-block mb-5" %>
      <% end %>
      <h4 class="text-center pb-1" style="color: #3B4674">プランを検索しよう</h4>
      <p class="text-center" style="color: #3B4674">投稿は新規登録なしで閲覧可能</br>,で区切ると複数の単語を検索できます</p>
      <%= image_tag "search_example.png" ,size: "300x300", class: "mx-auto img-fluid d-block mb-5" %>
      <p class="text-center" style="color: #3B4674">マップ検索をすると</br>検索した場所までマップが移動します</p>
      <%= image_tag "search_example2.png" ,size: "300x300", class: "mx-auto img-fluid d-block mb-5" %>

      <% if user_signed_in? %>
        <%= link_to new_plan_path do %>
          <%= image_tag "plan.png" ,size: "190x190", class: "mx-auto img-fluid d-block mb-5" %>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path do %>
          <%= image_tag "plan.png" ,size: "190x190", class: "mx-auto img-fluid d-block mb-5" %>
        <% end %>
      <% end %>

      <h4 class="text-center pb-1" style="color: #3B4674">プランを投稿してみよう</h4>
      <p class="text-center pb-5" style="color: #3B4674">+ボタンでスケジュールフォームを</br>何回でも追加できます</p>
      <%= image_tag "plan_example.png" ,size: "300x300", class: "mx-auto img-fluid d-block mb-5" %>


      <p class="text-center mt-5">copyright © 2024 go out planning</p>
    </div>
  </div>
</div>