<div class="container mx-auto">
  <div class="row">

    <div class="col-sm-12 col-md-10 col-lg-8 bg-white my-3 p-5 shadow-lg mx-auto rounded">
      <%#= image_tag asset_path('go_out_planning_logo.png', :width =>'250', :height =>'250', :alt => '画像'), class: "logo rounded-circle mx-auto mb-3 d-block" %>
      <%= image_tag asset_path('go_out_planning_logo.png', :alt => '画像'), class: "logo rounded-circle mx-auto mb-4 d-block" %>
      <%# = image_tag "go_out_planning_logo.jpg", size: "250x250", class: "rounded-circle mx-auto mb-3 d-block" %>

      <h4 class="text-center my-3" style="color: #3B4674"><b>旅行やデートのプランを共有するSNS</b></h4>
      <p class="text-center" style="color: #3B4674">おでかけプランニングは旅行やデートのお店や施設ではなく</br>プランを共有するSNSサービスです</p>

      <%= link_to plans_path do %>
        <h4 class="text-center pb-1" style="color: #3B4674"><b>プランを検索しよう</b></h4>
        <%= image_tag "search.png" ,size: "250x250", class: "mx-auto img-fluid d-block mb-1" %>
        <p class="text-center" style="color: #3B4674">投稿は新規登録なしで閲覧が可能です ,で区切ると複数単語を検索できます</p>
        <p class="text-center mb-3" style="color: #3B4674">マップ検索をすると検索した場所までマップが移動します</p>

        <div class="mx-3">
          <div class="scroll-container" id="scroll-inner">
            <%= image_tag "iphone1.png" ,size: "300x300", class: "img-fluid mb-5" %>
            <%= image_tag "iphone2.png" ,size: "300x300", class: "img-fluid mb-5" %>
          </div>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to new_plan_path do %>
          <h4 class="text-center" style="color: #3B4674"><b>プランを投稿してみよう</b></h4>
          <%= image_tag "plan.png" ,size: "250x250", class: "mx-auto img-fluid d-block mb-1" %>

          <p class="text-center" style="color: #3B4674">+ボタンでスケジュールフォームを何回でも追加できます</p>
          <%= image_tag "iphone3.png" ,size: "300x300", class: "mx-auto img-fluid d-block mb-5" %>

        <% end %>
      <% else %>

        <%= link_to '#registrationModal', data: { toggle: 'modal' } do %>
          <h4 class="text-center mt-3" style="color: #3B4674"><b>プランを投稿してみよう</b></h4>
          <%= image_tag "plan.png" ,size: "250x250", class: "mx-auto img-fluid d-block mb-1" %>

          <p class="text-center" style="color: #3B4674">+ボタンでスケジュールフォームを何回でも追加できます</p>
          <%= image_tag "iphone3.png" ,size: "300x300", class: "mx-auto img-fluid d-block mb-5" %>
        <% end %>
      <% end %>

      <div class="text-center mt-4">
        <%= link_to '無料で始める', '#registrationModal', data: { toggle: 'modal' } ,class: "btn btn-primary mb-5" %>
      </div>

      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>

<script>
  let scrollContainer = document.querySelector("#scroll-inner");
  let lastElement = scrollContainer.lastElementChild;
</script>