<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 my-3 p-4 mx-auto">

      <% if @user_rooms.present? %>
        <% @user_rooms.each do |user_room| %>
          <% room = user_room[:room] %>
          <% other_user = user_room[:other_user] %>
          <% unread_chats_count = user_room[:unread_chats_count] %>
          <div class="row mb-3 bg-light p-3 rounded" style="position: relative;">
            <% if unread_chats_count > 0 %>
              <span class="badge" style="position: absolute; top: -8px; right: -8px; background-color: red; color: #FFD43B; border-radius: 50%; padding: 5px 10px; font-size: 20px;">
                <%= unread_chats_count %>
              </span>
            <% end %>
            <div class="col">
              <%= link_to user_path(other_user) do %>
                <%= image_tag other_user.get_profile_image(90, 90), class: "rounded-circle mx-auto d-block" %>
              <% end %>
            </div>
            <div class="col d-flex align-items-center">
              <%= link_to other_user.name, chat_path(other_user), class: 'text-decoration-none' %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="text-center mt-5">
          チャットルームがありません
          <%= image_tag "room.png" ,size: "250x250", class: "mx-auto img-fluid d-block mb-1" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
