<div class="container mx-auto">
  <div class="row">
    <div class="col my-3 p-4 mx-auto">
      <%= render "public/shared/error_messages", resource: resource %>
      <div class="row">
        <div class="col mx-2">
          <p>
            <%= link_to "利用規約", terms_of_use_path %>および
            <%= link_to "プライバシーポリシー", privacy_policy_path %>
            に同意した上で、 以下の「登録」ボタンを押してください。
          </p>

          <%= form_with model: resource, url: user_registration_path do |f| %>

            <div class="mb-2">
              <%= f.text_field :name, class: "form-control", placeholder: "ユーザー名", required: true %>
            </div>
            <div class="mb-2">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス", required: true %>
            </div>
            <div class="mb-2">
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "パスワード", required: true %>
            </div>
            <div class="mb-4">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "パスワード(確認)", required: true %>
            </div>
            <div class="row justify-content-center" >
              <%= f.submit "登録", class: "btn btn-warning mx-3 mb-3 btn-form" %>

              <%- if devise_mapping.omniauthable? %>
                <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-light btn-sm border btn-form mx-3' do %>
                  <%= image_tag 'google_logo.png', alt: 'Googleロゴ',size: "30x30", class: 'google-logo' %>
                  Googleで登録
                <% end %>
              <% end %>
            </div>

          <% end %>

          <div class="text-center mt-4">
            <%= link_to 'ログインはこちら', '#loginModal', data: { toggle: 'modal', dismiss: "modal" } %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
