<div class="container mx-auto">

  <% if plans.present? %>
    <% plans.each do |plan| %>
    <div class="row">

      <div class="col px-sm-0 bg-white p-4 shadow-lg mx-auto rounded my-3">
        <div class="row">
          <div class="col-3">
            <%= link_to edit_admin_user_path(plan.user) do %>
              <%= image_tag plan.user.get_profile_image(70, 70), class: "rounded-circle ml-auto d-block" %>
            <% end %>
          </div>
          <div class="col text-left my-auto fsize_13-18"><%= link_to plan.user.name, edit_admin_user_path(plan.user) %></div>
        </div>

        <div class="row my-3">
          <div class="col-md-6 offset-md-3">
            <%= link_to edit_admin_plan_path(plan) do %>
              <h5 class="fsize_13-18"><%= plan.title %></h5>
            <% end %>
            <div class="fsize_13-18"><%=safe_join(plan.body.split("\n"),tag(:br)) %></div>
            <% if plan.plan_image.attached? %>
              <%= image_tag plan.get_plan_image(370, 220), class: "img-fluid my-1 rounded" %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col text-center pl-5">
            <% plan.tags.each do |tag| %>
              <i class="fa-sharp fa-solid fa-tag"></i>
              <%= tag.name %>
            <% end %>
          </div>
        </div>

        <div class="row mx-5">
          <!--コメント件数非同期化テンプレート-->
          <div class="col-6 text-center comment_counter"><%= render 'public/comments/counter', plan: plan %></div>
          <!--いいね機能非同期化テンプレート-->
          <div class="col text-center"><i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i><%= plan.likes.count %></div>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
  <div class="text-center mt-5">
    表示できるものがありません
  </div>
  <% end %>
</div>