<div class="container mx-auto">
  <div class="row">

    <div class="col-sm-12 col-md-10 col-lg-8 bg-white my-3 p-4 shadow-lg mx-auto rounded">

      <div class="row">
        <div class="col-4">
          <%= image_tag @plan.user.get_profile_image(90, 90), class: "rounded-circle mx-auto d-block" %>
          <div class="text-center mb-1"><%= link_to @plan.user.name, edit_admin_user_path(@plan.user) %></div>
        </div>
        <div class="col my-auto">
          <h5><%= @plan.title %></h5>
          <%=safe_join(@plan.body.split("\n"),tag(:br)) %>
        </div>
      </div>

      <% @plan_details.each do |plan_detail| %>
      <div class="row my-3">
        <div class="col p-3" style="background-color: #CDD3E8;"><%= plan_detail.title %></div>
        <div class="col p-3" style="background-color: #CDD3E8;"><%= plan_detail.body %></div>
      </div>
      <% end %>

      <div class="row">
        <div class="col"><%= @plan.comments.count %>コメント</div>
        <div class="col">
            <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i><%= @plan.likes.count %>
        </div>
        </div>

      <div class="row">
        <div class="col text-center my-3">

          <%= form_with model: @plan, url: admin_plan_path(@plan), method: :patch do |f| %>
            <%= f.select :is_draft, [['非表示',true],['公開',false]] %>
          <%= f.submit "変更", class: "btn btn-warning mb-1" %>
          <% end %>

          <%= link_to admin_plan_path, method: :delete, class: "btn btn-danger mx-auto", data: { confirm: "投稿を削除しますか？" } do %>
            <i class="fa-solid fa-trash fa-lg mx-3" style="color: #ffffff;"></i>
          <% end %>
        </div>
      </div>
    </div>

    <!-- コメント一覧 -->
    <% @plan.comments.each do |comment| %>
    <div class="col-sm-8 col-md-10 col-lg-8 bg-white my-3 p-4 shadow-lg mx-auto rounded">
      <div class="row">
        <div class="col-3 text-center">
          <%= image_tag comment.user.get_profile_image(60, 60), class: "rounded-circle mx-auto d-block" %>
          <%= comment.user.name %><br>
          <%= comment.created_at.strftime('%Y/%m/%d') %>
        </div>
        <div class="col text-center my-auto"><%=safe_join(comment.comment.split("\n"),tag(:br)) %></div>
          <%= link_to admin_plan_comment_path(comment.plan, comment), method: :delete, class: "btn btn-danger my-auto", data: { confirm: "コメントを削除しますか？" } do %>
            <i class="fa-solid fa-trash fa-lg" style="color: #ffffff;"></i>
          <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
