<div class="container mx-auto">
  <div class="row">

    <div class="col my-3 p-4 mx-auto">
      <div class="row">
        <div class="col mx-2">
          <div id="loginError" class="mb-3" style="display: none; color: red;"></div>

          <%= form_with model: resource, url: users_check_user_path, local: false, class: 'sessions' do |f| %>

            <div class="mb-2">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス", id: "login_user_email" %>
              <div id="loginEmailError" class="mt-1" style="display: none; color: red;"></div>
            </div>

            <div class="mb-4">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワード", id: "login_user_password" %>
              <div id="loginPasswordError" class="mt-1" style="display: none; color: red;">パスワードを入力してください（あと<span id="loginRemainingChars"></span>文字）。</div>
            </div>


            <div class="row justify-content-center">
              <%= f.submit "ログイン", disabled: true, class: "btn btn-warning mx-3 mb-3 btn-form", id: "login_submit_btn" %>
            </div>
          <% end %>

            <div class="row justify-content-center">
              <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-secondary mx-3 mb-3 btn-form" %>
            </div>

            <div class="row justify-content-center">
              <%- if devise_mapping.omniauthable? %>
                <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-light btn-sm border btn-form mx-3' do %>
                <%= image_tag 'google_logo.png', alt: 'Googleロゴ',size: "30x30", class: 'google-logo mx-3' %>
                Googleでログイン
                <% end %>
              <% end %>
            </div>

          <div class="text-center mt-4">
            <%= link_to '新規登録はこちら', '#registrationModal', data: { toggle: 'modal', dismiss: "modal" } %>
          </div>
          <div class="text-center mt-2">
            <%= link_to '管理者はこちら', new_admin_session_path %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>