<div class="container mx-auto">
  <div class="row">

    <div class="col-sm-12 col-md-10 col-lg-8 bg-white my-3 p-4 shadow-lg mx-auto rounded">
      <h5 class="mb-3"><b>ログイン</b></h2>
      <%= render "public/shared/error_messages", resource: resource %>
      <div class="row">
        <div class="col mx-2">

          <%= form_with model: @user, url: user_session_path do |f| %>

            <%= f.label :メールアドレス %>
            <div class="mb-2">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "go_out@example.com" %>
            </div>

            <%= f.label :パスワード %>
            <div class="mb-4">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "6文字以上" %>
            </div>

            <div class="row justify-content-cente" >
              <%= f.submit "ログイン", class: "btn btn-warning mx-auto mb-3" %>
            </div>
          <% end %>

          <div class="text-center">
            <%= link_to '新規登録はこちら', new_user_registration_path %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>