<div class="container mx-auto">
  <div class="row">

    <div class="col-sm-10 col-md-8 col-lg-6 bg-white my-3 p-4 mx-auto rounded-pill">
      <div class="row">
        <div class="col mx-2">
          <%= link_to user_path(user) do %>
          <%= image_tag user.get_profile_image(100, 100), class: "rounded-circle ml-auto d-block" %>
          <% end %>
        </div>
        <div class="col mx-2 my-auto">
          <div class="row">
            <%= user.name %>
          </div>

          <% if user.id == current_user.id && user.email != "guest@example.com" %>
          <div class="row"><%= user.email %></div>
          <div class="row">
            <div class="col my-3"><%= link_to "編集", edit_mypage_path, class: "btn btn-warning" %></div>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>