<div class="container mx-auto">
  <div class="row">

    <div class="col-sm-10 col-md-8 col-lg-6 bg-white my-3 p-4 mx-auto rounded-pill">
      <div class="row">
        <div class="col mx-2">
          <%= link_to user_path(user) do %>
          <%= image_tag user.get_profile_image(90, 90), class: "rounded-circle ml-auto d-block" %>
          <% end %>
        </div>
        <div class="col mx-2 my-auto ml-3">
          <div class="row">
            <%= user.name %>
          </div>
          <div class="row">
            フォロー：<%= link_to user.followings.count, user_followings_path(user) %>
          </div>
          <div class="row">
            フォロワー：<%= link_to user_followers_path(user) do %>
            <%= render 'public/relationships/counter', user: user %>
            <% end %>
          </div>

          <% if user.id == current_user.id && user.email != "guest@example.com" %>
          <div class="row"><%= user.email.truncate(20) %></div>
        </div>

          <div class="col-3 my-auto mx-auto">
            <div class="col">
              <%= link_to edit_mypage_path, class: "btn btn-warning btn-sm", 'data-turbolinks': false do %>
                <i class="fa-solid fa-user-pen fa-lg"></i>
              <% end %>
            </div>
          <% else %>
            <div class="row text-left relationship_btns_<%= user.id %>">
              <%= render "public/relationships/btn", user: user %>
            </div>
          <% end %>
          </div>

      </div>
    </div>
  </div>
</div>