<div class="container mx-auto">
  <div class="row">

    <div class="col-sm-12 col-md-10 col-lg-8 bg-white my-3 p-4 shadow-lg mx-auto">
      <h5 class="mb-3">プロフィール編集</h5>
      <%= render "layouts/errors", object: @user %>
      <div class="row">
        <div class="col mx-2">

          <%= form_with model: @user, url: mypage_path do |f| %>

            <%= f.label :ユーザー名 %>
            <div class="mb-4">
              <%= f.text_field :name, class: "form-control", placeholder: "ユーザー名" %>
            </div>

            <%= f.label :メールアドレス %>
            <div class="mb-4">
              <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
            </div>

            <%= f.label :プロフィール画像 %>
            <%= f.file_field :profile_image, placeholder: "プロフィール", accept: "image/*" %>

      　　　　　　<div class="row justify-content-center">
              <%= f.submit "編集", class: "btn btn-success m-4" %>
              <%= link_to "退会", confirm_user_path, class: "btn btn-danger m-4" %>
      　　　　　　</div>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>