<h1>マイページ</h1>

<%= image_tag @user.get_profile_image(100, 100), class: "rounded-circle" %>
<%= @user.name %>
<%= @user.email %>

<%= link_to "編集", edit_mypage_path %>

<%= render 'layouts/index', plans: @plans %>