<header class="header" style="background-color: #3B4674;">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag "go_out_planning_header_logo.jpg" ,size: "245x70", class= "img-fluid" %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">

          <% if user_signed_in? %>
          <li class="nav-item mx-3">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket" style="color: #FFD43B;"> ログアウト</i>
            <% end %>
          </li>

          <% else %>
          <li class="nav-item mx-3">
            <%= link_to new_user_registration_path do %>
              <i class="fa-solid fa-user-plus" style="color: #FFD43B;"> 新規登録</i>
            <% end %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to user_session_path do %>
              <i class="fa-solid fa-right-to-bracket" style="color: #FFD43B;"> ログイン</i>
            <% end %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to users_guest_sign_in_path, method: :post do %>
              <i class="fa-solid fa-right-to-bracket" style="color: #FFD43B;"> ゲストログイン</i>
            <% end %>
          </li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>
</header>