<header>

  <%= link_to root_path do %>
  <!--ロゴ作成予定-->
    <%= "おでかけplanning" %>
  <% end %>

  <% if user_signed_in? %>
  <li>
    <%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
  </li>

  <% else %>
  <li>
    <%= link_to "新規登録", new_user_registration_path %>
  </li>
  <li>
    <%= link_to "ログイン", user_session_path %>
  </li>
  <% end %>

</header>

