<!DOCTYPE html>
<html>
  <head>
    <title>GoOutPlanning</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('GoOutPlanning.ico') %>

    <script src="https://kit.fontawesome.com/fccb2a51cf.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100" style="background-color: #CDD3E8;">
    <%= render 'layouts/header' %>

      <main style="padding-bottom: 80px;">
        <div class="flash-message"><%= render 'layouts/flash' %></div>
        <%= yield %>
      </main >
    <%= render 'layouts/footer' %>
  </body>
</html>
